@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu:wght@500&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 48, 66, 89;
  --background-end-rgb: 11, 24, 41;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 48, 66, 89;
    --background-end-rgb: 11, 24, 41;
  }
}

@layer base {
  html {
    font-family: Proxima Nova, system-ui, Ubuntu, sans-serif;
  }
}

body {
  color: white;
  /* color: rgb(var(--foreground-rgb)); */
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

li {
  color: #49668c;
}

a :hover {
  cursor: pointer;
  font-style: italic;
}

.content {
  height: 100vh;
  width: 100%;
  display: flex;
}

.menu-container {
  display: flex;
  /* height: 100vh;
  width: 100px; */
  margin: 0 10px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 2px white;
  transition: transform 250ms;
}

.menu-container:hover {
  cursor: pointer;
  transform: translateX(5px);
}

.menu-Items {
  color: #c8d0de;
  /* background-color: white; */
  text-align: center;
  /* font-weight:  */
  font-size: 5vh;
  text-shadow: -2px -2px 5px #49668c;
  height: 55px;
  line-height: 45px;
  margin: -20px;
}

#slideset1 {
  height: 10em;
  position: relative;
}

#slideset1 > * {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  animation: 3s autoplay1 infinite;
}

@keyframes autoplay1 {
  0% {
    visibility: visible;
  }
  33.33% {
    visibility: hidden;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#slideset1 > *:nth-child(1) {
  animation-delay: 0s;
}
#slideset1 > *:nth-child(2) {
  animation-delay: 1s;
}
#slideset1 > *:nth-child(3) {
  animation-delay: 2s;
}

.pattern {
  opacity: 1;
  background-image: linear-gradient(#ffffff24, 1px, transparent 1px),
    linear-gradient(to right, #ffffff24 1px, transparent 1px);
  background-size: 40px 40px;
}

p {
  opacity: 1;
  color: white;
}

.plane {
  height: 100%;
  width: 100%;
  /* border: 1px solid white; */
  /* border-width: 2px 2px 2px 0px;
  border-color: white;
  border-radius: 0 5px 5px 0; */
  /* margin: 0 0 0 -20px; */
  /* box-shadow: 0 0 5px white; */
}

.homePage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 0%;
  animation: fadeIn 5s;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.form > p {
  height: 70px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 2px white;
  background-color: rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 50px;
  margin: 10px;
}

.form > p:last-of-type {
  height: 50px;
  width: 30%;
  margin: 5px;
  border-radius: 1px;
  padding: 10px;
}

.form > p:last-of-type:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

input {
  color: black;
}

.inputs {
  border-radius: 1px;
  margin: 10px 0;
  padding: 10px;
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 2px white;
  color: black;
}

label {
  width: 100%;
}
